{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" 
            rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'clinica_fenix_01/css/style.css' %}">
    <title>Sesión Privada</title>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="{% url 'clinica_fenix_01:index' %}">The Great Fenix Clinic</a>
    </div>
  </nav>
    <div id="init" class="container-fluid bg-ligth text-dark shadow-lg">
      <div class="row">
        <nav class="nav flex-column bg-dark text-light col-2">
          <br>
          <h4>Menú</h4>
          <h1></h1>
          {% if perfil.rol == 'ADMINISTRADOR' %}
          <a href="{% url 'clinica_fenix_01:nuevo_usuario' %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Nuevo Usuario</a>
          <a href="{% url 'clinica_fenix_01:lista_usuario' %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Lista Cliente</a>
          <a href="{% url 'clinica_fenix_01:lista_examen' %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Lista Examenes</a>
          <a href="{% url 'logout' %}?next={% url 'clinica_fenix_01:index' %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Salir</a>
          {% elif perfil.rol == 'CLIENTE' %}
           

          <a href="{% url 'clinica_fenix_01:examen_cliente' pk=my_id %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Mis Examenes</a>

          <a href="{% url 'logout' %}?next={% url 'clinica_fenix_01:index' %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Salir</a>
          {% else %}
          <h1>Sus exámenes no estan listos aún</h1>
          <h5>El administrador subira sus examenes pronto</h5>
          <a href="{% url 'logout' %}?next={% url 'clinica_fenix_01:index' %}"class= "d-block p-4"> <i class="icon ion-md-heart"></i>    Salir (logout)</a>

          {% endif %}
        </nav>
        <div class="col-9 ">
          <div class="h4"> Graficación de edades de nuestros clientes:
            <p id="parrafo-private">
            <div class="chart">
            <canvas id="myChart"></canvas>
            </div>
        </div>
      </div>
    </div> 
    <footer class="footer bg-dark text-center fixed-bottom">
      <p class="text-muted">&copy; 2021 Clinica Fenix.</p>
      <p class="text-muted">Renaciendo Pacientes</p>
    </footer>                                                                                                                             
    </body>
    <script>
      var ctx= document.getElementById("myChart");
      var myChart= new Chart(ctx,{
          /* En type se define el tipo de grafico a mostrar */
          type:"bar",
          data:{
              labels:{{nombre|safe}},
              datasets:[{
                      label:'Edades',
                      data:{{edad}},
                      backgroundColor:[
                          /* Se define el color en formato RGB por cada barra */  
                      ]
              }]
          },
          options:{
              scales:{
                  yAxes:[{
                          ticks:{
                              beginAtZero:true
                          }
                  }]
              }
          }
      });
    </script>
</html>